.slider_container {
  overflow-x: hidden;
}

.title {
  font-size: 5rem;
  margin: 8rem auto 1.25rem 8rem;
}

.slider_wrapper {
  position: relative;
  height: auto;
  width: 100%;
}

.slider {
  display: flex;
  gap: 5%;
}

.overlay_left {
  position: absolute;
  /* background:  linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)); */
  background-color: #0B0A08;
  opacity: 0.8;
  height: 100%;
  width: 40%;
  z-index: 1;
}

.desc {
  margin: 10% 10% 0 26%;
}

.desc > p {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  line-height: 2rem;
}

.overlay_right {
  position: absolute;
  right: 0;
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)); */
  background-color: #0B0A08;
  opacity: 0.8;
  top: 0;
  height: 100%;
  width: 40%;
}

.details {
  position: relative;
  height: 100%;
  width: 100%;
}

.name {
  position: absolute;
  left: 5%;
  font-size: 2.5rem;
  color: #8052FF;
}

.subtext {
  position: absolute;
  left: 5%;
  top: 15%;
  font-size: 1.5rem;
  color: #FFB829;
}

.socials {
  position: absolute;
  left: 5%;
  top: 26.5%;
  display: flex;
  gap: 0.75rem;
}

.card {
  width: 20%;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
}

.slider__btngrp {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;  
}

.slider__btn {
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: xx-large;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: #8052FF;
  border: 1px solid #8052FF;
}
@media(max-width:761px) {
  .title {
    font-size: 3rem;
    /* margin: 8rem auto 1.25rem 8rem; */
    margin-left: 5rem;
  }
  .desc > p {
    margin-top: -13rem;
    margin-left: 0rem;
    width: 22rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  } 
  .desc{
    margin-top: 1rem;
  }
  .slider {
    display: flex;
    gap: 5%;
    margin-top: 14rem;
    height: 10rem;
    width: 48rem;
    margin-left: -11rem;
  }
  .overlay_left {
    position: absolute;
    /* background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)); */
    background-color: #0B0A08;
    opacity: 0.8;
    height: 10rem;
    width: 8rem;
    z-index: 1;
  }
  .overlay_right {
    position: absolute;
    right: 0;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)); */
    background-color: #0B0A08;
    opacity: 0.8;
    top: 0;
    height: 10rem;
    width: 8rem;
  }
  .name{
    position: absolute;
    left: 5%;
    font-size: 0.8rem;
    color: #8052FF;
  }
  .subtext {
    position: absolute;
    left: 5%;
    top: 15%;
    font-size: 0.8rem;
    color: #FFB829;
    margin-top: 1.3rem;
  }
  .socials {
    position: absolute;
    left: 5%;
    top: 26.5%;
    display: flex;
    gap: 0.75rem;
    margin-top: 2rem;

  }
  .slider__btn{
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: xx-large;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: #8052FF;
    border: 1px solid #8052FF;
  }
  
}